<%- include('partials/head', {title: "Remitos Remotos"}) %>
    </head>

    <body>
        <div class="div-container">
            <%- include('partials/headerremitossearch')  %>
                <div class="data-item">
                    <div class="pedidos-encabezado">
                        <div class="titulo-encabezado">
                            <h2>REMITOS REMOTOS</h2>
                            <h3>Cantidad de pedidos:
                                <%= (locals.cant_ped) ? locals.cant_ped : 0 %>
                            </h3>
                        </div>
                        <div class="pedidos-encabezado__title">
                            <div>Pedido</div>
                            <div>Cliente</div>
                            <div>Nombre del Cliente</div>
                            <div>Estado</div>
                            <div>Fecha</div>
                            <div></div>
                        </div>
                        <% if(locals.message) {%>
                            <div class="error_message">
                                <span><%= locals.message %> </span>
                            </div>
                            <% }else{%>

                                <%- include('partials/remitospedidos', {data: locals.data, cant_ped: locals.cant_ped, conditionQuery: locals.conditionQuery, offset: locals.offset, limit: locals.limit, currentPage: locals.currentPage, pages: locals.pages, dataSearch: locals.dataSearch })%>
                                    <% } %>
                    </div>
                </div>
        </div>
    </body>

    </html>