<%- include('partials/head', {title: "Remitos Remotos"}) %>

    <body>
        <div class="container">
            <div class="menu-item">
                <img src="../img/logo_maxico.png" alt="imagen del logo se maxico">
                <form class="form-search" action="/pedidos/search">
                    <h2>Buscar por:</h2>
                    <div>
                        <label>Nro Cliente</label>
                        <input type="number" name="cliente" id="cliente" value="<% if(locals.cliente) {%><%=locals.cliente%><% } %>">
                    </div>
                    <div>
                        <label>Nro pedido</label>
                        <input type="number" name="pedido" id="pedido" value="<% if(locals.pedido) {%><%=locals.pedido%><% } %>">
                    </div>
                    <div>
                        <label>Fecha desde</label>
                        <input type="date" name="fecha_desde" id="fecha_desde" value="<% if(locals.fecha_desde) {%><%= locals.fecha_desde %><% } %>">
                    </div>
                    <div>
                        <label>Fecha hasta</label>
                        <input type="date" name="fecha_hasta" id="fecha_hasta" value="<% if(locals.fecha_hasta) {%><%= locals.fecha_hasta %><% } %>">

                    </div>
                    <button type="submit">Buscar</button>
                </form>
            </div>

            <div class="data-item">
                <div class="remitos-encabezado">
                    <h1>REMITOS EXPRESS</h1>
                    <div class="remitos-encabezado__title">
                        <div>Nro de Cliente</div>
                        <div>Nombre del Cliente</div>
                        <div>Nro pedido</div>
                        <div>Fecha</div>
                        <div>Estado</div>
                        <div>Cantidad de articulos </div>
                        <div></div>
                    </div>
                </div>
                <% if(locals.message) {%>
                    <div class="error_message">
                        <span><%= locals.message %> </span>
                    </div>
                    <% } %>
                        <div class="all-pedidos">
                            <% if(locals.data) {  %>
                                <% for(let i = 0; i < locals.data.length; i++) {%>
                                    <div class="one-pedido">
                                        <div id="cliente" style="cursor: default">
                                            <%= locals.data[i].cliente %>
                                        </div>
                                        <div id="cli_nom" style="cursor: default">
                                            <%= locals.data[i].cli_nom %>
                                        </div>
                                        <div id="pedido" style="cursor: default">
                                            <%= locals.data[i].pedido %>
                                        </div>
                                        <div id="fecha" style="cursor: default">
                                            <%= locals.data[i].fecha %>
                                        </div>
                                        <div id="estado" style="cursor: default">
                                            <%= locals.data[i].estado %>
                                        </div>
                                        <div id="cant_prod" style="cursor: default">
                                            <%= locals.data[i].cant_prod %>
                                        </div>
                                        <div>
                                            <a style="cursor: default" href="/pedidos/search/edit?pedido=<%=locals.data[i].pedido%>&cliente=
                                    <%=locals.data[i].cliente%>">
                                                <img class="icon-edit" src=../img/icon/flecha-editar.svg alt=dImagen para seleccionar fila>
                                            </a>

                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
                        </div>
            </div>
        </div>
        <script type="text/javascript src=../js/scrypt.js"></script>
    </body>

    </html>